@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&family=Lato:ital,wght@0,300;1,300&family=Nova+Square&family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,400&family=Questrial&family=Roboto:ital,wght@0,400;0,700;1,300&family=Zen+Kaku+Gothic+Antique:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: dosis, sans-serif;
}

:root {
    --primary-color: #296EB4;
    --secondary-color: #1789FC;
    --yellow-color-one: #FDB833;
    --yellow-color-two: #FFD07B;
    --yellow-color-three: #B1740F;
}

/* Global Styles */

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}

/* Links Each state */

a {
    color: white;
}

a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: white;
}

a:focus {
    text-decoration: none;
    color: white;
}

a:hover,
a:active {
    text-decoration: none;
    color: var(--yellow-color-two);
    opacity: 0.8;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* Header Section */

#header {
    height: 85px;
    text-transform: uppercase;
    background-color: var(--primary-color);
    color: white;
    font-size: 18px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
}

#nav-menu {
    max-width: 250px;
    display: flex;
}

#nav-menu li {  
   margin-right: 15px;
}

#nav-menu li a:hover {
    border-bottom: 2px solid var(--yellow-color-two);
    /* transition: border-bottom 2s ease-in; */
}

.container {
    max-width: 1600px;
    margin: 0 auto;
    position: relative;
    
}

/* Hero Section */
#hero-section {
    background-image: url(./images/pexels-andrea-piacquadio-3771074.jpg);
    height: 850px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

.left-hero-content {
    background-color: white;
    width: 450px;
    height: 450px;
    position: absolute;
    top: 150px;
    left: 150px;
}

/* About Section */
.about-content-container {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: auto auto auto;
    height: 250px;
}

.about-content-container h3 {
    text-align: center;
}

.about-content .fa-solid {
    text-align: center;
    font-size: 2rem;
}

.hr {
    border-bottom: 1px solid var(--secondary-color);
    width: 70%;
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* Packages Section */
#packages-section {
    height: 250px;
    background-color: #B1740F;
    margin-bottom: 2rem;
}

#packages-section h3 {
    margin: 0 auto;
    color: white;
}

/* Contact Form */
#contact-section h3 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.contact-form-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.contact-form {
    width: 50%;
    border-right: 1px solid var(--primary-color);
}

.contact-form .form-control label {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.contact-form .form-control input {
    width: 75%;
    padding: 1.1rem 2rem;
    margin-bottom: 1rem;
    border: none;
    border-bottom: 1px solid var(--yellow-color-one);
}

.contact-form .form-control input:focus {
    outline: none;
    border-bottom: 1px solid var(--primary-color);
}

.contact-form .form-control textarea {
    width: 75%;
    margin-bottom: 1rem;
    border: 1px solid var(--yellow-color-one);
}

.contact-form .form-control textarea:focus {
    outline: none;
    border: 1px solid var(--primary-color);
}

.contact-information {
    width: 50%;
}


/* footer */
#footer {
    height: 75px;
    background-color: var(--primary-color);
    margin-top: 3rem;
    color: var(--yellow-color-two);
    width: 100%;
}

.footer-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    padding-top: 1.75rem;
}

.footer-content .logo,
.footer-content .created-by,
.footer-content .social-media {
    display: grid;
    grid-template-columns: auto auto auto;
}

.footer-content .social-media .fa-brands {
    font-size: 1.5rem;
    margin-left: 2rem;
    color: var(--yellow-color-two);
}
