* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: dosis, sans-serif;
}

:root {
    --primary-color: #008BF8;
}

/* Global Styles */

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}

/* Links Each state */

a {
    color: white;
}

a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: white;
}

a:focus {
    text-decoration: none;
    color: white;
}

a:hover,
a:active {
    text-decoration: none;
    color: white;
    opacity: 0.8;
}

#header {
    height: 85px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
    background-color: var(--primary-color);
    color: white;
    font-size: 18px;
}

#nav-menu {
    max-width: 250px;
    display: flex;
}

#nav-menu li {  
   margin-right: 15px;
}

#nav-menu li a:hover {
    border-bottom: 2px solid white;
    /* transition: border-bottom 2s ease-in; */
}

.container {
    max-width: 1600px;
    margin: 0 auto;
}

/* Hero Section */
#hero-section {
    background-image: url(./images/pexels-andrea-piacquadio-3771074.jpg);
    height: 850px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

/* About Section */
.about-content-container {
    display: grid;
    grid-template-columns: auto auto auto;
}

.about-content-container h3 {
    text-align: center;
}

.hr {
    border-bottom: 1px solid black;
}

